active-depression(currentBorder)
  transition()
  &:active
    border-top-width cab($d, '+', currentBorder) solid $c
    border-left-width cab($d, '+', currentBorder) solid $c
    box-shadow none
    padding $g $gm $gm $g
    transform translate(0, 0)
    z-index -1

button()
  hover-shadow()
  active-depression(currentBorder: 1px)
  background-color $cb
  border 1px solid $c
  color $c
  cursor pointer
  padding $g

hover-shadow()
  transition()
  @media (hover: hover)
    &:hover
      box-shadow $d $d $c
      transform translate($dn, $dn)
      z-index 1

transition()
  transition all 75ms ease-out
