active-depression(currentBorder)
  transition()
  &:active
    border-top-width cab($d, '+', currentBorder)
    border-left-width cab($d, '+', currentBorder)
    box-shadow none
    padding $g cab($g, '-', $d) cab($g, '-', $d) $g
    transform translate(0, 0)
    z-index -1

box(padding = $g)
  background-color $cb
  border 1px solid $c
  padding padding

button()
  hover-shadow()
  active-depression(currentBorder: 1px)
  box()
  color $c
  cursor pointer

flexed(
  alignItems = center,
  flexDirection = row,
  flexWrap = nowrap,
  justifyContent = flex-start,
  vGap = $g,
  hGap = $g2
)
  display flex
  flex-direction flexDirection
  flex-wrap flexWrap
  align-items alignItems
  justify-content justifyContent
  > *:not(:last-child)
    if flexDirection == row
      margin-right hGap
    else
      margin-bottom vGap

flexed-column(
  alignItems = flex-start,
  justifyContent = flex-start,
  flexWrap = nowrap
)
  flexed(
    flexDirection: column,
    flexWrap: flexWrap,
    alignItems: alignItems,
    justifyContent: justifyContent,
  )

hover-shadow()
  transition()
  @media (hover: hover)
    &:hover
      box-shadow $d $d $c
      transform translate($dn, $dn)
      z-index 1

transition()
  transition all 75ms ease-out
