$c = $color
$cb = $background-color
$d = $depth
$dn = ca($d, '* -1')
$g = $gap
$gm = ca($g, '- 1px')
$gn = ca($g, '* -1')
$g2 = ca($g, '* 2')

$background-color = v('background-color', white)
$color = v('color', black)
$depth = v('depth', 1px)
$gap = v('gap', 10px)

ca(val, calcFnString)
  unquote('calc(%s %s)' % (val unquote(calcFnString)))

v(name, val)
  var(unquote('--bois-' + name), val)
