$c = $color
$cb = $background-color
$cbp = $background-color-page
$d = $depth
$dn = ca($d, '* -1')
$fwh = $font-weight-heavy
$g = $gap
$gn = ca($g, '* -1')
$g0 = ca($g, '/ 2')
$g2 = ca($g, '* 2')
$g4 = ca($g, '* 4')

$background-color = v('background-color', white)
$background-color-page = v('background-color-page', white)
$color = v('color', black)
$depth = v('depth', 2px)
$font-weight-heavy = v('font-weight-heavy', 600)
$gap = v('gap', 10px)

ca(a, opAndBString)
  unquote('calc(%s %s)' % (a unquote(opAndBString)))

cab(a, opString, b)
  unquote('calc(%s %s %s)' % (a unquote(opString) b))

v(name, val)
  var(unquote('--bois-' + name), val)
